// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// https://bootstrapvars.com/4.4/

// Changing the theme colors
$primary: #981c1f;
$secondary: #000000;

$tertiary: #FFF594;
$success: #27AD7A;
$info: #36c6f2;
$warning: #f9ce10;
$danger: #dd0b1c;
$dark: #111111; 
$light: #f5f5f5; 

$theme-gradient: rgba(17, 17, 17, 1),rgba(17, 17, 17, 0);
// $theme-gradient-overlay: rgba(17, 17, 17, 1),rgba(152, 28, 31, 0.5);
$theme-gradient-overlay: rgba(17, 17, 17, .75) 0%,rgba(17, 17, 17, .3) 40%,rgba(17, 17, 17, .0) 60%,rgba(17, 17, 17, .0) 100%;
// $theme-gradient-overlay: rgba(17, 17, 17, .75) 0%,rgba(17, 17, 17, .2) 15%,rgba(17, 17, 17, .0) 20%,rgba(17, 17, 17, .0) 90%,rgba(245, 245, 245, 1) 100%;

$theme-overlay: rgba(17, 17, 17, 0.5);

$glass-color: rgba(255, 255, 255, 0.35);
$glass-primary: rgba(152, 28, 30, 0.5);
$glass-color-dark: rgba(119, 119, 119, 0.35);
$glass-shadow:0 8px 10px rgba(0, 0, 0, 0.15);
$glass-blur:blur(10px);
$glass-border:1px solid rgba(255, 255, 255, 0.65);

// $body-color:#707070;
$body-color:#111111;
$link-color:$body-color;
$link-hover-color:$primary;
$link-hover-color-rgb:rgba($primary,1);
$overshoot-animation: cubic-bezier(0.4, 1.49, 0.58, 1);

$gray-100: #f8f9fa !default;
$gray-200: #f2f2f3 !default;
$gray-300: #dfe3e7 !default;
$gray-400: #bfc7cf !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$color-bootstrap: #712cf9;
$color-html: #f74a1d;
$color-angular: #bd002e;
$color-xd-1:#450135;
$color-xd-2:#f75eee;

$font-size-base:              1rem; // 1rem is typically 16px, assuming the browser default.
$body-font-size:              1.15rem; // 1.15rem is 18.4px (1.15 * 16px).
$h6-font-size:                $body-font-size; // $h6-font-size is 1.15rem, which is 18.4px.
$font-size-multiplier:        1.25; // Multiplier for font size calculations.
$h5-font-size:                $h6-font-size * $font-size-multiplier; // $h5-font-size is 1rem * 1.25 = 1.25rem (20px).
$h4-font-size:                $h5-font-size * $font-size-multiplier; // $h4-font-size is 1.25rem * 1.25 = 1.5625rem (25px).
$h3-font-size:                $h4-font-size * $font-size-multiplier; // $h3-font-size is 1.5625rem * 1.25 = 1.953125rem (31.25px).
$h2-font-size:                $h3-font-size * $font-size-multiplier; // $h2-font-size is 1.953125rem * 1.25 = 2.44140625rem (39.0625px).
$h1-font-size:                $h2-font-size * $font-size-multiplier; // $h1-font-size is 2.44140625rem * 1.25 = 3.0517578125rem (48.828125px).

$headings-font-weight: 900;

$display-font-sizes: (
  1: 5.25rem, // 5.25rem is 84px (5.25 * 16px).
  2: 4.75rem, // 4.75rem is 76px (4.75 * 16px).
  3: 3.5rem,  // 3.5rem is 56px (3.5 * 16px).
  4: 3.0rem,  // 3.0rem is 48px (3.0 * 16px).
  5: 2.35rem, // 2.35rem is 37.6px (2.35 * 16px).
  6: 1.8rem   // 1.8rem is 28.8px (1.8 * 16px).
);

$font-family:           "Readex Pro", sans-serif;
$enable-negative-margins: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xml: 1440px,
  xxl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1288px
);

// Extending Position Values
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  auto: auto,
  unset:unset,
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$btn-border-radius:           0;
$btn-border-radius-sm:        0;
$btn-border-radius-lg:        0;
$border-radius:               0;
$form-floating-input-padding-t:         1.925rem;
$modal-content-border-radius: 0;
$modal-content-border-width:  0;