// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Intro Alt';
    src: url('../fonts/intro/Intro-Regular-Alt.woff2') format('woff2'),
        url('../fonts/intro/Intro-Regular-Alt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Alt';
    src: url('../fonts/intro/Intro-Light-Alt.woff2') format('woff2'),
        url('../fonts/intro/Intro-Light-Alt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Alt';
    src: url('../fonts/intro/Intro-Thin-Alt.woff2') format('woff2'),
        url('../fonts/intro/Intro-Thin-Alt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Alt';
    src: url('../fonts/intro/Intro-Bold-Alt.woff2') format('woff2'),
        url('../fonts/intro/Intro-Bold-Alt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Alt';
    src: url('../fonts/intro/Intro-Black-Alt.woff2') format('woff2'),
        url('../fonts/intro/Intro-Black-Alt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('../fonts/dinar/GEDinarOne-Medium.woff2') format('woff2'),
        url('../fonts/dinar/GEDinarOne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('../fonts/dinar/GEDinarOne-Light.woff2') format('woff2'),
        url('../fonts/dinar/GEDinarOne-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('../fonts/dinar/GEDinarOne-Bold.woff2') format('woff2'),
        url('../fonts/dinar/GEDinarOne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('../fonts/dinar/GEDinarOne-LightItalic.woff2') format('woff2'),
        url('../fonts/dinar/GEDinarOne-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GE Dinar One';
    src: url('../fonts/dinar/GEDinarOne-MediumItalic.woff2') format('woff2'),
        url('../fonts/dinar/GEDinarOne-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

