<!-- ========== Start ios7 Switch ========== -->
{{! Sample Usage:-
    Syntax: ((> _ios7-switch Label="Simple Switcher" Checked=1 UniqueClass="class-for-styling-or-targeting" SwitchSize="lg" SwitchColor="Secondary"))
Variables:-
    Label = Text to be displayed as title of the Switch
    UniqueClass = Must adhere to the html ID guidelines. i.e. must not have spaces. Can be used for targeting or unique styling
    Checked = 1 (Default is 0) Optional
    SwitchSize = lg or sm (Default is "" and makes the size as Normal or Medium)
    SwitchColor = warning or success. (Default is primary)
    ConditionalClasses = USEFUL FOR ADDING FUNCTIONALITY TO SWITCH. DEFAULT IS TOGGLE. Single identifier Class. Must adhere to the html ID guidelines. i.e. must not have spaces. Can be used for targeting or unique styling
}}

<div class="switch {{#if SwitchSize}}switch-{{SwitchSize}}{{/if}} switch-{{#if SwitchColor}}{{SwitchColor}}{{else}}primary{{/if}} my-0 {{UniqueClass}} {{#if ConditionalClasses}}{{ConditionalClasses}}-switch{{/if}} {{#if DisablingClasses}}{{DisablingClasses}}-switch{{/if}}">
    {{#if Label}}<label class="form-label" for="enable" localize-me>{{Label}}</label>{{/if}}
    <input type="checkbox" name="switch" data-plugin-ios-switch {{#if Checked}}checked="checked"{{/if}} />
</div>
<!-- ========== End ios7 Switch ========== -->

{{#if ConditionalClasses}}
<!-- ========== Start ios7 Switch Conditional Script ========== -->
<script>
$(document).ready(function(){
    $(document).on('click','.{{ConditionalClasses}}-switch .ios-switch',function(){
        if($(this).hasClass('on'))
            $('.{{ConditionalClasses}}').show();
        else
            $('.{{ConditionalClasses}}').hide();
    });
    if($(document).find('.{{ConditionalClasses}}-switch [data-plugin-ios-switch]').prop('checked'))
        {
            $('.{{ConditionalClasses}}').show(); 
        }
        else
        {
            $('.{{ConditionalClasses}}').hide(); 
        }
{{#if InverseConditionalClasses}}
    // For Inverse
    $(document).on('click','.{{ConditionalClasses}}-switch .ios-switch',function(){
        if($(this).hasClass('on'))
            $('.{{InverseConditionalClasses}}').hide();
        else
            $('.{{InverseConditionalClasses}}').show();
    });
    if($(document).find('.{{ConditionalClasses}}-switch [data-plugin-ios-switch]').prop('checked'))
        {
            $('.{{InverseConditionalClasses}}').hide(); 
        }
        else
        {
            $('.{{InverseConditionalClasses}}').show(); 
        }
{{/if}}
});
</script>
<!-- ========== End ios7 Switch Conditional Script ========== -->
{{/if}}
{{#if DisablingClasses}}
<!-- ========== Start ios7 Switch Conditional Script ========== -->
<script>
$(document).ready(function(){
    $(document).on('click','.{{DisablingClasses}}-switch .ios-switch',function(){
        if($(this).hasClass('on'))
            $('.{{DisablingClasses}}').attr("disabled",true);
        else
            $('.{{DisablingClasses}}').removeAttr("disabled");
    });
    if($(document).find('.{{DisablingClasses}}-switch [data-plugin-ios-switch]').prop('checked'))
        {
            $('.{{DisablingClasses}}').attr("disabled",true); 
        }
        else
        {
            $('.{{DisablingClasses}}').removeAttr("disabled"); 
        }
{{#if InverseDisablingClasses}}
    // For Inverse
    $(document).on('click','.{{DisablingClasses}}-switch .ios-switch',function(){
        if($(this).hasClass('on'))
            $('.{{InverseDisablingClasses}}').removeAttr("disabled");
        else
            $('.{{InverseDisablingClasses}}').attr("disabled",true);
    });
    if($(document).find('.{{DisablingClasses}}-switch [data-plugin-ios-switch]').prop('checked'))
        {
            $('.{{InverseDisablingClasses}}').removeAttr("disabled"); 
        }
        else
        {
            $('.{{InverseConditionalClasses}}').attr("disabled",true); 
        }
{{/if}}
});
</script>
<!-- ========== End ios7 Switch Conditional Script ========== -->
{{/if}}