{{#> _modal-block ModalId="message-sent-modal" HeaderClasses="text-bg-success text-light" RemoveFooter=1
ModalTitle="Message Sent" StaticBackdrop=1 Size="md" hasCloseButton=1 hasSimpleButton=1 SimpleButtonText="Save"
DisableScroll=0 DisableCentered=0}}
<p class="text-center mb-0" localize-me>Thank you for contacting us. We will get back to you shortly.</p>
</div>
<div class="modal-footer justify-content-center pt-0 border-0">
    <button type="button" class="btn btn-primary text-light" localize-me data-bs-dismiss="modal">Close</button>
</div>
{{/ _modal-block}}