{{#> _modal-block ModalId="readmore-modal" HeaderClasses1="text-bg-success text-light" RemoveFooter=1
ModalTitle="Testimonial" StaticBackdrop=1 Size="md" hasCloseButton=1 hasSimpleButton=1
SimpleButtonText="Save"
DisableScroll=0 DisableCentered=0}}
<div class="row align-items-center border-bottom mb-3 pb-3">
    <div class="col-auto">
        <img class="object-fit-cover rounded testimonial-image" src="assets/img/testimonial.webp" width="60"
            height="60">
    </div>
    <div class="col">
        <h4 class="text-primary mb-0 testimonial-company">Client Name</h4>
        <small class="text-uppercase testimonial-client">Client Name</small>
    </div>
</div>
<p class="mb-0 readmore-content"></p>
</div>
<div class="modal-footer justify-content-center pt-0 border-0">
    <button type="button" class="btn btn-primary text-light" localize-me data-bs-dismiss="modal">Close</button>
</div>
{{/ _modal-block}}