<!-- About Start -->
<div class="container-fluid py-lg-5 py-3 wow fadeInUp bg-light" data-wow-delay="0.1s">
    <div class="container{{#ifpage 'index'}} pt-3 pt-lg-5 mt-0 mt-lg-5{{/ifpage}}">
        <div class="row g-5{{#ifpage 'index'}} pt-3{{/ifpage}}">
            <div class="col-lg-7">
                {{>_section-title Title="About Us" Align="start" Subtitle="The Best IT Solution With 10 Years of
                Experience"}}
                <p class="mb-4">Established in 2003, Media Phone Plus (MPP) specializes in telecom value-added services
                    (VAS) for the MENA region, offering a wide range of solutions including Bulk SMS services. Since
                    2010, MPP has expanded to become a leading provider of information and communications technology
                    (ICT) solutions, empowering clients across industries to drive revenue growth and gain competitive
                    advantages.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Award Winning</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Fair Prices</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0">+965 22923456</h4>
                    </div>
                </div>
                <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request A
                    Quote</a>
            </div>
            <div class="col-lg-5">
                <div id="carouselAboutUs" class="carousel carousel-aboutus slide wow zoomIn carousel-fade"
                    data-wow-delay="0.9s" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100 rounded" src="assets/img/about.jpg">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 rounded" src="assets/img/feature.jpg">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutUs"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutUs"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->