<div class="blog-item rounded overflow-hidden">
    <div class="blog-img position-relative overflow-hidden">
        <img class="img-fluid" src="assets/img/achievement-{{add @index 1}}.jpg" alt="">
    </div>
    <div class="py-2 px-3 p-lg-4 content">
        <h5 class="mb-0 text-center">Certificate of Appreciation by Zain Kuwait - Telecom VAS</h5>
        <div class="d-flex mt-3 justify-content-center">
            <small class="d-flex align-items-center"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan,
                2045</small>
        </div>
    </div>
</div>