<div class="blog-item bg-light rounded overflow-hidden">
    <a href="blog-detail.html" class="text-decoration-none">
        <div class="blog-img position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/blog-{{add @index 1}}.jpg" alt="">
           
        </div>
        <div class="p-4 content">
           
            <h5 class="mb-3">Why Your Company Needs an Ecommerce Site Why Your Company Needs an Ecommerce Site</h5>
            <p>In today's digital age, the significance of having an ecommerce presence for businesses
                cannot be overstated.</p>
        </div>
    </a>
</div>