<div class="blog-item bg-light rounded overflow-hidden">
    <a href="blog-detail.html" class="text-decoration-none">
        <div class="blog-img position-relative overflow-hidden">
            <img class="img-fluid" src="assets/img/blog-{{add @index 1}}.jpg" alt="">
            <div class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-2 py-2 px-4" href="">Web
                Design</div>
        </div>
        <div class="p-4 content">
            <div class="d-flex mb-3">
                <small class="d-flex align-items-center"><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan,
                    2045</small>
            </div>
            <h5 class="mb-3">Why Your Company Needs an Ecommerce Site Why Your Company Needs an Ecommerce Site</h5>
            <p>In today's digital age, the significance of having an ecommerce presence for businesses
                cannot be overstated.</p>
        </div>
    </a>
</div>