<div class="col-12 wow zoomIn transition-away" data-wow-delay="0.9s">
    <div
        class="position-relative bg-secondary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
        <h4 class="text-white">{{#if CustomText}}{{CustomText}}{{else}}انضموا إلينا اليوم!
{{/if}}</h4>
        <p class="text-white mb-2">نحن نؤمن بأن التقاعد هو بداية جديدة، ونود أن نكون جزءًا من رحلتكم.</p>
        
<p class="text-white mb-0">اتصلوا بنا أو زوروا مركزنا لتكتشفوا كيف يمكننا مساعدتكم في تحقيق حياة مليئة بالنشاط والرفاهية</p>
        
       
    </div>
</div>