<div class="bg-light p-4 rounded">
    <a href="{{CareerLink}}" class="text-decoration-none">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h5 class="mb-3 mt-0 text-truncate text-primary">{{JobTitle}}</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <h6 class="mb-3 mt-0 text-truncate">March 05, 2024</h6>
                    </div>
                </div>
                <p>{{JobDescription}}</p>
            </div>
        </div>
    </a>
</div>