<!-- Features Start -->
<div class="container-fluid py-3 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        {{>_section-title Title=" خدماتنا الصحية" Subtitle="نحن هنا لدعمكم وتعزيز جودة حياتكمة"}}
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                       
                        <h4>العلاج الطبيعي</h4>
                        <p class="mb-0">نقدم جلسات علاج طبيعي متخصصة لمساعدتكم في تحسين القدرة الحركية والتخفيف من الآلام، تحت إشراف فريق من الخبراء المدربين.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                      
                        <h4>العلاج الوظيفي</h4>
                        <p class="mb-0">يهدف برنامج العلاج الوظيفي لدينا إلى تحسين المهارات اليومية وتعزيز الاستقلالية، مما يساعدكم على العيش بشكل أكثر راحة.</p>
                    </div>
                </div>
            </div>
            <div class="blog-item col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100 blog-img">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s"
                        src="assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                       
                        <h4>العلاج المائي</h4>
                        <p class="mb-0">استمتعوا بجلسات العلاج المائي في بيئة مريحة، حيث تساعد المياه على تخفيف التوتر وتحسين الحركة.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        
                        <h4>الصالة الرياضية <br/>( التمارين الفسيولوجية)</h4>
                        <p class="mb-0">نظم مركزنا مجموعة متنوعة من الأنشطة الترفيهية مثل ورش العمل، الدروس الفنية، الديوانية ( للرجال و النساء)، لتوفير تجربة اجتماعية ممتعة</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->