<!-- Mission and Vision Start -->
<div class="container py-3 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
    {{>_section-title Title="Values" Subtitle="What we stand for"}}
    <div class="row g-5">
        <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
            <div class="rounded d-flex flex-column align-items-center text-start p-3">
                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-4"
                    style="width: 75px; height: 75px;">
                    <i class="fa fa-bullseye fa-2x text-white"></i>
                </div>
                <h3>Our Mission</h3>
                <p class="mb-0">Our mission is to work on cutting-edge technologies and apply them to our clients’
                    businesses with our robust, scalable and most advanced ICT solutions. We strive to make our
                    clients’ life simpler, pleasant and productive; by providing them with tools to rapidly adjust
                    to market trends, generate revenues and increase customer loyalty.
                    <br>
                    <br>
                    Our turnkey solutions include an individually-tailored approach featuring agile methodologies,
                    superior customer services and great business analytics. These are complimented by extensive
                    quality assurance, application hosting, operational support and maintenance. This ensures our
                    clients’ the shortest time-to-market and builds product competitiveness in their respective
                    marketplaces.
                    <br>
                    <br>
                    Openness & Collaboration are the important cornerstones of our success and, therefore, we share
                    benefits with our upstream and downstream partners to deliver collaborative achievements.
                    Creativity and innovation continue to drive us forward with a determination to create a Smart
                    Connected World for our stakeholders and society as a whole.
                </p>
            </div>
        </div>
        <div class="col-12 wow slideInUp" data-wow-delay="0.6s">
            <div class="rounded d-flex flex-column align-items-center text-start p-3">
                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-4"
                    style="width: 75px; height: 75px;">
                    <i class="fa fa-eye fa-2x text-white"></i>
                </div>
                <h3>Our Vision</h3>
                <p class="mb-0">
                    In response to the new revolutions in the ICT industry; particularly Smart Phones, Cloud
                    Computing, Internet of Things and Big Data; Media Phone Plus envisions to continue innovating
                    based on leading technologies and industry trends. Our aim is to become a strategic partner that
                    assists telecom operators in their future transformations and to be the world leader in ICT
                    products, services and solutions that enable and transform the way consumers and businesses
                    gather, manage, distribute and communicate information.
                    <br>
                    <br>
                    Through our own Intellectual Property and in conjunction with our global partnerships, we focus
                    on building a Smart Connected World and continuously create value for our stakeholders and
                    society.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Mission and Vision End -->