<nav class="navbar navbar-expand-lg navbar-dark px-2 px-lg-5 py-2 py-lg-0 border-0">
  <a href="index.html" class="navbar-brand col-3 p-0">
    <img src="assets/img/mpplogo.svg" width="110" height="56" class="img-fluid logo-main py-lg-3"
      alt="Media Phone Plus Logo">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto pt-3 py-lg-0 ">
      <a href="index.html" class="nav-item nav-link active">Home</a>
      <a href="about.html" class="nav-item nav-link">About</a>
      <a href="services.html" class="nav-item nav-link">Services</a>
      <a href="blog.html" class="nav-item nav-link">Blog</a>
      <!-- <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
        <div class="dropdown-menu m-0">
          <a href="blog.html" class="dropdown-item">Blog Grid</a>
          <a href="blog-detail.html" class="dropdown-item">Blog Detail</a>
        </div>
      </div> -->
      <!-- <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu m-0">
          <a href="pricing-plan.html" class="dropdown-item">Pricing Plan</a>
          <a href="features.html" class="dropdown-item">Our features</a>
          <a href="team.html" class="dropdown-item">Team Members</a>
          <a href="testimonial.html" class="dropdown-item">Testimonial</a>
          <a href="quote.html" class="dropdown-item">Free Quote</a>
        </div>
      </div> -->
      <a href="contact.html" class="nav-item nav-link">Contact</a>
      <a href="javascript:;" class="nav-item nav-link language-switch">عربي</a>
    </div>
    {{!--<button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i
        class="fa fa-search"></i></button>--}}
  </div>
</nav>