<!-- Blog Start -->
<div class="container-fluid py-3 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        {{>_section-title Title="Latest News" Subtitle="Read The Latest News"}}
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                {{>_news-item}}
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                {{>_news-item}}
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                {{>_news-item}}
            </div>
        </div>
    </div>
</div>
<!-- Blog Start -->