<div class="blog-item bg-light rounded overflow-hidden">
    <div class="blog-img position-relative overflow-hidden">
        <img class="img-fluid" src="assets/img/blog-1.jpg" alt="News Image">
    </div>
    <div class="p-4">
        <h5 class="mb-3 mt-0 text-truncate">Media Phone Plus won the best IT Company Award</h5>
        <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
        <a class="text-uppercase" href="news-detail.html">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
</div>