<div class="grid-item {{GridClass}} {{simplify FilterType}}">
    <a href="javascript:;">
        <div class="portfolio-card position-relative">
            <div class="image-container w-100">
                <!-- <img src="https://images.placeholders.dev/?width={{Width}}&height={{Height}}&bgColor=%23{{BgColor}}"
                    class="h-100 w-100 object-fit-cover" alt="Portfolio Background Image"> -->
                <img src="https://picsum.photos/{{Width}}/{{Height}}?random={{random 2}}"
                    class="h-100 w-100 object-fit-cover" width="{{Width}}" height="{{Height}}"
                    alt="Portfolio Background Image">
            </div>
            <div class="content position-absolute d-flex flex-column justify-content-end z-1 p-3">
                <div class="innercontent bg-glass d-flex flex-column p-3">
                    <div class="row g-2">
                        <div class="col-2">
                            <img src="https://images.placeholders.dev/?width=100&height=100&textColor=%23000&bgColor=%23{{BgColor}}"
                                class="img-fluid" height="100" width="100" alt="Client Logo">
                        </div>
                        <div class="col-10 d-flex flex-column justify-content-center">
                            <h4 class="h6 fw-bold text-primary text-uppercase mb-0">Client Name</h4>
                            <h5 class="text-body fw-bold mt-1 mb-0">Project Title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>