<!-- Portfolio Start -->
<div class="py-3 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-12">
            {{>_section-title Title="What we have done" Subtitle="We have helped business grow 10x"}}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center mb-5" id="portfolio-tab" role="tablist">
                {{>_portfolio-nav-pill Title="All" Selected=1}}
                {{>_portfolio-nav-pill Title="Apps"}}
                {{>_portfolio-nav-pill Title="Websites"}}
                {{!--
                {{>_portfolio-nav-pill Title="Dashboards"}}
                --}}
                {{>_portfolio-nav-pill Title="Booking"}}
                {{>_portfolio-nav-pill Title="Ecommerce"}}
                {{!--
                {{>_portfolio-nav-pill Title="Entertainment"}}
                {{>_portfolio-nav-pill Title="Corporate"}}
                --}}
            </ul>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <div class="grid border border-4 border-bottom-0 border-start-0 border-end-0 border-gray-300">
                {{!--
                {{#repeat 50}}
                <div class="box adil"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box box-2 adil"></div>
                <div class="box"></div>
                {{/repeat}}
                --}}
                <div class="grid-sizer"></div>
                {{#each portfolio}}
                {{>_portfolio-item}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->