<!-- Portfolio Start -->
<div class="py-3 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-12">
            {{>_section-title Title="What we have done" Subtitle="We have helped business grow 10x"}}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center mb-3" id="portfolio-tab" role="tablist">
                {{>_portfolio-nav-pill Title="All" Selected=1}}
                {{>_portfolio-nav-pill Title="Apps"}}
                {{>_portfolio-nav-pill Title="Websites"}}
                {{>_portfolio-nav-pill Title="Dashboards"}}
            </ul>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12">
            <div class="grid">
                <div class="grid-sizer"></div>
                {{>_portfolio-item Height="512" Width="288" BgColor="145594" FilterType="Apps"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="ffa594" FilterType="Websites"}}
                {{>_portfolio-item Height="512" Width="288" BgColor="abc594" FilterType="Apps"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="cde594" FilterType="Websites"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="1d4522" FilterType="Apps"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="145594" FilterType="Dashboards"}}
                {{>_portfolio-item Height="512" Width="288" BgColor="145594" FilterType="Apps"}}
                {{>_portfolio-item Height="512" Width="288" BgColor="ffa594" FilterType="Dashboards"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="abc594" FilterType="Dashboards"}}
                {{>_portfolio-item Height="288" Width="512" BgColor="cde594" FilterType="Websites"}}
                {{>_portfolio-item Height="512" Width="288" BgColor="1d4522" FilterType="Websites"}}
                {{>_portfolio-item Height="512" Width="288" BgColor="145594" FilterType="Apps"}}
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Start -->

<script>
    var $grid = $('.grid');
    $(function () {
        initIsotope();
    });
    function initIsotope() {
        $grid.isotope({
            itemSelector: '.grid-item',
            percentPosition: true,
            masonry: {
                columnWidth: '.grid-sizer'
            }
        });
        $grid.imagesLoaded().progress(function () {
            $grid.isotope('layout');
        });
        $("[data-filter-by]").on("click", function () {
            $grid.isotope({ filter: $(this).attr("data-filter-by") });
        });
    }
</script>