<div class="col-xl-6 col-lg-6 col-md-6 portfolio-item first wow slideInUp" data-wow-delay="0.{{@index}}s">
    <div class="position-relative portfolio-box">
        <div class="portfolio-img rounded overflow-hidden">
            <img class="img-fluid w-100" src="{{ImageURL}}" alt>
        </div>
        <div class="portfolio-overlay-img position-absolute h-100 w-100 top-0 overflow-hidden">
            <img src="{{BGImageURL}}" class="object-fit-cover w-100 position-absolute" alt="">
        </div>
        <a class="portfolio-title border-bottom border-5 border-primary text-decoration-none px-4 py-3" href>
            <h5>{{Title}}</h5>
            <small class="text-body text-uppercase"><i
                    class="fas fa-chart-pie text-primary me-2"></i>{{Subtite}}</small>
        </a>
        <div class="portfolio-btn">
            <div class="row">
                <div class="col-auto">
                    <a class="btn btn-outline-light" href="{{ImageURL}}">
                        <i class="fas fa-globe"></i>
                    </a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-light" href="{{ImageURL}}">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>