<!-- Service Start -->
<div class="container-fluid py-3 py-lg-5 wow fadeInUp bg-diagonal-3 transition-fade" data-wow-delay="0.1s"
    data-after="SERVICES">
    <div class="container">
        {{>_section-title Title="Our Services" Subtitle="Custom IT Solutions for Your Successful Business"}}
        <div class="row g-5">
            {{#each services}}
            {{#unless Disabled}}
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="{{add @index 3}}00ms">
                {{>_service-item}}
            </div>
            {{/unless}}
            {{/each}}
            {{!--
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="0.3s">
                {{>_service-item Title="Cyber Security"}}
            </div>
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="0.6s">
                {{>_service-item Title="Data Analytics"}}
            </div>
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="0.9s">
                {{>_service-item Title="Web Development"}}
            </div>
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="0.3s">
                {{>_service-item Title="App Development"}}
            </div>
            <div class="col-md-6 wow zoomIn transition-away" data-wow-delay="0.6s">
                {{>_service-item Title="SEO Optimization"}}
            </div>
            --}}
            {{>_call-us-quote}}
        </div>
    </div>
</div>
<!-- Service End -->