<div class="testimonial-item bg-light my-4">
    <div class="row align-items-center border-bottom p-4">
        <div class="col-auto">
            <img class="object-fit-cover rounded" src="assets/img/testimonial.jpg" width="60" height="60">
        </div>
        <div class="col">
            <h4 class="text-primary mb-0">Client Name</h4>
        </div>
    </div>
    <div class="p-4">
        Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
    </div>
</div>