<div class="testimonial-item bg-light my-4">
    <div class="row align-items-center border-bottom pt-5 pb-4 px-5">
        <div class="col-auto">
            <img class="object-fit-cover rounded" src="assets/img/testimonial.jpg" width="60" height="60">
        </div>
        <div class="col">
            <h4 class="text-primary mb-1">Client Name</h4>
            <small class="text-uppercase">Jade Jewelry</small>
        </div>
    </div>
    <div class="pt-4 pb-5 px-5">
        Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
    </div>
</div>