<div class="testimonial-item bg-light h-100">
    <div class="row align-items-center border-bottom p-4">
        <div class="col-auto">
            <img class="object-fit-cover rounded testimonial-image" src="{{TestimonialImage}}" width="60" height="60">
        </div>
        <div class="col">
            <h4 class="text-primary mb-0 testimonial-company">{{CompanyName}}</h4>
            <small class="text-uppercase testimonial-client">{{ClientName}}</small>
        </div>
    </div>
    <div class="p-4 testimonial-text">
        {{{TestimonialText}}}
    </div>
</div>