<div class="col-md-6 col-xl-4">
    <div class="webtemplate-item bg-light h-100">
        <div class="row">
            <div class="col-12">
                <img src="{{#if ThemeImage}}{{ThemeImage}}{{else}}https://images.placeholders.dev/?width=400&height=600{{/if}}"
                    width="400" height="300" class="object-fit-cover webtemplate-image">
                {{#unless BottomActionBtns}}
                <div class="row g-0 mid-action-btns">
                    <div class="col-6">
                        {{>_button-a ButtonText="Live Preview" ButtonClasses="btn-secondary w-100" NewWindow=1
                        URL=DemoURL}}
                    </div>
                    <div class="col-6">
                        {{>_button-a ButtonText="Get Started" ButtonClasses="btn-primary w-100"
                        URL="quote.html"}}
                    </div>
                </div>
                {{/unless}}
            </div>
            <div class="col-12">
                <div class="webtemplate-content p-3">
                    <div class="d-flex w-100 mb-1">
                        {{#if Bootstrap}}<div class="badge bg-bootstrap h-100 me-1">Bootstrap</div>{{/if}}
                        {{#if HTML}}<div class="badge bg-html h-100 me-1">HTML</div>{{/if}}
                        {{#if Angular}}<div class="badge bg-angular h-100 me-1">Angular</div>{{/if}}
                        {{#if XD}}<div class="badge bg-xd h-100 me-1">XD</div>{{/if}}
                    </div>
                    <h5 class="mb-1">{{#if ThemeName}}{{ThemeName}}{{else}}Theme name goes here{{/if}}</h5>
                    <small class="text-600 d-block mb-1">{{#if ThemeDesc}}{{ThemeDesc}}{{else}}Something goes here
                        as well{{/if}}</small>
                    {{!-- <div class="rating mb-3">
                        <div class="row gx-1 small">
                            {{#repeat 3}}
                            <div class="col-auto">
                                <i class="fas fa-star smaller text-warning"></i>
                            </div>
                            {{/repeat}}
                            <div class="col-auto">
                                <i class="fas fa-star-half-stroke smaller text-warning"></i>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-star smaller text-400"></i>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- {{#if OldPrice}}<h6 class="text-decoration-line-through text-400 mb-1">{{OldPrice}}</h6>
                    {{/if}}
                    <h5 class="mt-0 mb-3 text-primary">{{#if Price}}{{Price}}{{else}}KWD 35.500{{/if}}</h5> --}}
                </div>
            </div>
        </div>
        {{#if BottomActionBtns}}
        <div class="row g-0 action-btns">
            <div class="col-6">
                {{>_button-a ButtonText="Live Preview" ButtonClasses="btn-secondary w-100" NewWindow=1 URL=DemoURL}}
            </div>
            <div class="col-6">
                {{>_button-a ButtonText="Get Started" ButtonClasses="btn-primary w-100"
                URL="quote.html"}}
            </div>
        </div>
        {{/if}}
    </div>
</div>