<script type="text/javascript" src="{{root}}assets/vendor/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="{{root}}assets/vendor/js/revolution.extension.slideanims.min.js"></script>


<!-- ========== Start Revolution Slider Documentation ========== 
https://rhodiapads.com/assets/plugins/revolution-slider/documentation/documentation.html


Flat Transitions: 

Slide To Top - slideup
Slide To Bottom - slidedown
Slide To Right - slideright
Slide To Left - slideleft
Slide Horizontal (depending on Next/Previous) - slidehorizontal
Slide Vertical (depending on Next/Previous) - slidevertical
Slide Boxes - boxslide
Slide Slots Horizontal - slotslide-horizontal
Slide Slots Vertical - slotslide-vertical
Fade Boxes - boxfade
Fade Slots Horizontal - slotfade-horizontal
Fade Slots Vertical - slotfade-vertical
Fade and Slide from Right - fadefromright
Fade and Slide from Left - fadefromleft
Fade and Slide from Top - fadefromtop
Fade and Slide from Bottom - fadefrombottom
Fade To Left and Fade From Right - fadetoleftfadefromright
Fade To Right and Fade From Left - fadetorightfadefromleft
Fade To Top and Fade From Bottom - fadetotopfadefrombottom
Fade To Bottom and Fade From Top - fadetobottomfadefromtop
Parallax to Right - parallaxtoright
Parallax to Left - parallaxtoleft
Parallax to Top - parallaxtotop
Parallax to Bottom - parallaxtobottom
Zoom Out and Fade From Right - scaledownfromright
Zoom Out and Fade From Left - scaledownfromleft
Zoom Out and Fade From Top - scaledownfromtop
Zoom Out and Fade From Bottom - scaledownfrombottom
ZoomOut - zoomout
ZoomIn - zoomin
Zoom Slots Horizontal - slotzoom-horizontal
Zoom Slots Vertical - slotzoom-vertical
Fade - fade
Random Flat - random-static
Random Flat and Premium - random

Premium Transitions: 

Curtain from Left - curtain-1
Curtain from Right - curtain-2
Curtain from Middle - curtain-3
3D Curtain Horizontal - 3dcurtain-horizontal
3D Curtain Vertical - 3dcurtain-vertical
Cube Vertical - cube
Cube Horizontal - cube-horizontal
In Cube Vertical - incube
In Cube Horizontal - incube-horizontal
TurnOff Horizontal - turnoff
TurnOff Vertical - turnoff-vertical
Paper Cut - papercut
Fly In - flyin
Random Premium - random-premium
Random Flat and Premium - random

========== End Revolution Slider Documentation ========== -->