
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{{root}}assets/vendor/css/dataTables.bootstrap5.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/responsive.bootstrap5.min.css" />
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css" /> -->


<!-- Specific Page Vendor JS -->

<script src="{{root}}assets/vendor/js/jquery.dataTables.min.js"></script>
<script src="{{root}}assets/vendor/js/dataTables.bootstrap5.min.js"></script>
<script src="{{root}}assets/vendor/js/dataTables.bootstrap5.min.js"></script>
<script src="{{root}}assets/vendor/js/dataTables.responsive.min.js"></script>
<script src="{{root}}assets/vendor/js/dataTables.buttons.min.js"></script>
<script src="{{root}}assets/vendor/js/buttons.bootstrap4.min.js"></script>
<script src="{{root}}assets/vendor/js/buttons.html5.min.js"></script>
<script src="{{root}}assets/vendor/js/buttons.print.min.js"></script>
<script src="{{root}}assets/vendor/js/jszip.min.js"></script>
<script src="{{root}}assets/vendor/js/pdfmake.min.js"></script>
<script src="{{root}}assets/vendor/js/vfs_fonts.js"></script>


<!-- <script src="{{root}}assets/vendor/js/examples.datatables.default.js"></script>
<script src="{{root}}assets/vendor/js/examples.datatables.row.with.details.js"></script>
<script src="{{root}}assets/vendor/js/examples.datatables.tabletools.js"></script> -->
