{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<!-- build:dir -->
<html lang="Arabic" dir="rtl">
<!-- endbuild -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/fav/apple-touch-icon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/fav/favicon-96x96.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/fav/favicon.ico">
  <meta name="msapplication-TileColor" content="#2377cd">
  <meta name="theme-color" content="#ffffff">



  {{#ifpage 'index'}}
  <title>  مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين </title>
  <meta name="title" content="مركـز ذخر ,مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  <meta property="og:title" content="مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  <meta property="twitter:title" content="مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  {{/ifpage}}
  {{#unlesspage 'index'}}
  <title>{{title}} مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين</title>
  <meta name="title" content="{{title}} - مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  <meta property="og:title" content="{{title}} - مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  <meta property="twitter:title" content="{{title}} - مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين" />
  {{/unlesspage}}

  <meta name="description" content="مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين">
  <!-- <meta name="keywords" content="مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين, Kuwait"> -->
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="Arabic">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="مركـز ذخر ,المركز التأهيلى الصحى للمتقاعدين">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
    rel="stylesheet">

  <!-- build:css -->
  <!-- <link rel="stylesheet" rel="preload" href="{{root}}assets/css/main.css"> -->
  <link rel="preload" href="{{root}}assets/css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{root}}assets/css/main.css">
  </noscript>
  <!-- endbuild -->
  <script src="{{root}}assets/vendor/js/jquery.js"></script>
</head>

<body>
  {{!> _loader}}
  <header>
   
    <div class="container position-relative p-0 bg-primary">
      {{>_navigation}}
    </div>
  </header>
  {{#unlesspage 'index'}}
  <div class="page-title container-fluid bg-header bg-header-gradient">
    <div class="row py-5">
      <div class="col-12 mt-lg-5 text-center">
        <h1 class="display-4 text-white animated zoomIn transition-fade">{{title}}</h1>
        {{>_breadcrumbs}}
      </div>
    </div>
  </div>
  {{/unlesspage}}
  <main role="main" id="swup" class="transition-fade">
    {{> body}}
  </main>
  {{> _footer}}

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="{{root}}assets/js/main.js"></script>
  <script src="{{root}}assets/vendor/js/bootstrap.bundle.js"></script>

  <script src="{{root}}assets/vendor/js/wow.min.js"></script>
  <script src="{{root}}assets/vendor/js/easing.min.js"></script>
  <script src="{{root}}assets/vendor/js/waypoints.min.js"></script>
  <script src="{{root}}assets/vendor/js/counterup.min.js"></script>
  <script src="{{root}}assets/vendor/js/wow.min.js"></script>
  <script src="{{root}}assets/vendor/js/owl.carousel.min.js"></script>
  <!-- <script src="{{root}}assets/vendor/js/mixitup.min.js"></script> -->
  <script src="{{root}}assets/vendor/js/isotope.min.js"></script>
  <script src="{{root}}assets/vendor/js/packery-mode.pkgd.min.js"></script>
  <script src="{{root}}assets/vendor/js/imagesloaded.pkgd.min.js"></script>
  {{>_slick-slider-js}}
  <!-- Transition Managers -->
  <script src="https://unpkg.com/swup@4"></script>
  <script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
  <script src="{{root}}assets/js/transitions.js"></script>
</body>

</html>